*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body{
    margin: 0;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: monospace;
  }
  .main-header{
    background-color:  #pink;
    color: white;
    line-height: 1;
    text-align: center;
  }

.headersuperior{
  background-color: #333333;
  text-align: right;
}

.headersuperior p {
  color: white;
  text-align: center;
}

.main-nav{
  background-color: #333333;
}

.nav-conteiner{
  text-align: center;
  line-height: 2.5;
  border-bottom: 1px solid white;
  display: table-cell;
  padding: 10px 11.4vh;
}
.nav-conteiner:hover {
  background-color: pink;
  cursor: pointer;
}
.nav-conteiner-word{
  color: white;

}
.main-logo{
  padding: 2%;
}
.main-conteiner{
  display: flex;
  flex-direction:column;
  background:white;
text-align: center;
}
.centro{
justify-content: : center;
display: flex;
flex-direction: column;
flex-wrap: wrap;

  margin:auto;
}
aside.left{
  background-color: #ffff;
  min-height: 400px;
  float:left;
padding: 8px;

}
.left img{
  width:400px;height:510px;
}
section.icons{
  float: right;
}.icons img{
  width: 50px;
  height: 50px;
  padding-left: 2vh;
}

.resumen-compra{
  width: 200px;
  height: 300px;
  background-color:pink;
  margin:10px;
  box-sizing:border-box;
}

.nombre-email input[type=text]{
    position: relative;
    width: 30%;
    border: none;
    border-bottom: 1px solid #3333;
    background: transparent;
    outline: none;
    height: 7vh;
    color: black;
    padding: 5px ;
    box-sizing: border-box;
    transition:3s;
  }

h1{
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.tarjeta{
    position: relative;
    width: 30%;
    border: none;
    border-bottom: 1px solid #3333;
    background: transparent;
    outline: none;
    height: 7vh;
    color: black;
    padding: 5px;
    box-sizing: border-box;
    transition:3s;
}
.resumen-compra-texto{
      font-family: 'Candara';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 37px;
      display: flex;
      align-items: center;
      text-transform: capitalize;}
}
.radio{
    text-transform: capitalize;
    display: inline-block;
    margin-left: 20px;
  }
.radio input[type="radio"]{
    text-align: center;
    border-bottom: 2px solid #ccc;
  }
.radio label{
    color: black;
    background: rgba(0,0,0,.1);
    padding: 5px 15px 5px 35px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
  }
.radio label:hover{
    background: rgb(30,184,180);
  }

.button{
  width:350PX;
  height: 50px;
  background: pink;
  border-radius: 9em ;
  cursor: pointer;
  left: 20%;
  top:100%;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  font-size: 4vh;
  font-style: normal;
  color:#ffff;
}
.button :hover{
  background: grey;
}
.mensaje-validado{
  margin-top :20vh;
  align-items: center;
  text-align: center;
  justify-content:center;
}
.check  {
  width: 200px;
  height: 200px;

}
